.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 120vh;
  background-color: #e9e5de;
}

@media (max-width: 576px) {
  .container {
    height: 100vh;
  }
}
