.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: #e9e5de;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.fullScreenBoke {
  display: flex;
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
}

.fullScreenBokeLeft {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #fff;
}

.fullScreenImage {
  max-width: 100%;
  max-height: 100vh;
  border: solid #434343;
}
