.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: #e9e5de;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.bokeList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 70%;
  margin-top: 20px;
}

.bokeItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
}

.bokeItem img {
  max-width: 100%;
  border-radius: 8px;
}

.bokeItem p {
  margin-top: 10px;
  font-size: 16px;
  text-align: center;
}

.bokeDetails {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.likeCount {
  font-weight: bold;
}

.bokeItem .bokeDetails p {
  padding: 0 15px;
}
