.content {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding: 2vh 0;
  margin-top: 15vh;
}

.instructionsContainer {
  position: relative;
  top: 5vh;
  padding: 1.6vh;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 0.8vh;
}

.instructionsText {
  margin: 0;
  font-size: 3vh;
  line-height: 2;
}

.heading {
  display: inline-block;
  width: 100%;
  padding: 0.5vh;
  color: #f9f9f9;
  text-align: center;
  background-color: #434343;
  border-radius: 0.4vh;
}

.bokeButton {
  position: absolute;
  top: 45vh;
  padding: 2vh 4vh;
  font-size: 2vh;
  color: white;
  background-color: #434343;
  border: none;
  border-radius: 5px;
  transition: 0.3s;
}

.noUserAlert {
  position: absolute;
  top: 45vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.6vh 2vh;
  font-size: 3vh;
  color: #587bcd;
  text-align: center;
  background-color: #d1e0fd;
  border: #587bcd 1.5px solid;
  border-radius: 5px;
}

.someCustomStyleForThisPage {
  position: absolute;
  top: 60vh;
  display: flex;
  width: 100%;
  margin-top: 2vh;
  overflow: hidden;
}

.imageContainer {
  position: absolute;
  width: 100%;
  margin: 4vh;
  text-align: center;
}

.imageContainer img {
  width: 15%;
  height: auto;
}

.textBox {
  position: absolute;
  top: 38vh;
  width: 30%;
  padding: 0.8vh 1vw;
  margin: 4vh;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.timerContainer {
  position: relative;
  top: 35vh;
}

.alert {
  position: relative;
  top: 42vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3vh;
  color: #587bcd;
  text-align: center;
  background-color: #d1e0fd;
  border: #587bcd 1.5px solid;
  border-radius: 5px;
}

.submitButton {
  position: relative;
  top: 43vh;
  padding: 1vh 2vw;
  color: white;
  cursor: pointer;
  background-color: #434343;
  border: none;
  border-radius: 5px;
  transition: 0.3s;
}

.submitButton:hover {
  background-color: #333;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.someClass {
  /* position: fixed; */
  top: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 50%;
  margin-top: 2vh;
  overflow: hidden;
  background-color: #f9f9f9;
  border-radius: 10px;
}

.modalText {
  justify-content: space-around;
  font-size: 2vh;
}

.modalDescription {
  margin: 0;
  font-size: 2vh;
  line-height: 2;
}

.buttonContainer {
  font-size: 2vh;
}

.modalButton {
  padding: 1vh 2vw;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

@media (max-width: 576px) {
  .instructionsText {
    font-size: 2vh;
  }

  .imageContainer img {
    width: 70%;
  }

  .textBox {
    width: 70%;
  }

  .submitButton {
    width: 45%;
  }

  .someClass {
    width: 90%;
    height: 40%;
  }
}
